#
#Mon Nov 28 16:18:17 CST 2011
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=C\:/software/CoIDE/flash/LM3S_256.elf
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.core.jflashtool=
org.coocox.codebugger.gdbjtag.core.clockDiv=1M
org.coocox.codebugger.gdbjtag.core.jlinkgdbserver=
org.coocox.codebugger.gdbjtag.core.adapter=Nu-Link
org.coocox.codebugger.gdbjtag.core.jflashscript=
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.userDefineGDBScript=
org.coocox.codebugger.gdbjtag.core.jlinkResetMode=Type 0\: Normal
org.coocox.codebugger.gdbjtag.coredebugInRam=false
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
org.coocox.codebugger.gdbjtag.core.targetEndianess=0
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
