#
#Wed Feb 15 16:24:04 CST 2012
org.coocox.codebugger.gdbjtag.core.debugMode=JTAG
org.coocox.codebugger.gdbjtag.core.adapter=Colink
org.coocox.codebugger.gdbjtag.core.jflashtool=
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.coredebugInRam=false
org.coocox.codebugger.gdbjtag.core.jlinkResetMode=Type 0\: Normal
org.coocox.codebugger.gdbjtag.core.clockDiv=300K
org.coocox.codebugger.gdbjtag.core.jlinkgdbserver=D\:\\Program Files\\SEGGER\\JLinkARM_V414e\\JLinkGDBServerCL.exe
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.targetEndianess=0
org.coocox.codebugger.gdbjtag.core.userDefineGDBScript=
org.coocox.codebugger.gdbjtag.core.ifSemihost=false
org.coocox.codebugger.gdbjtag.core.jflashscript=
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=D\:/Program Files/CooCox/CoIDE_1.4.0/flash/STM32F10x_MD_128.elf
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
