#
#Wed Nov 30 15:33:13 CST 2011
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
org.coocox.codebugger.gdbjtag.core.adapter=e-Link32
org.coocox.codebugger.gdbjtag.core.jflashtool=
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.coredebugInRam=false
org.coocox.codebugger.gdbjtag.core.jlinkResetMode=Type 0\: Normal
org.coocox.codebugger.gdbjtag.core.clockDiv=300K
org.coocox.codebugger.gdbjtag.core.jlinkgdbserver=
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.targetEndianess=0
org.coocox.codebugger.gdbjtag.core.userDefineGDBScript=
org.coocox.codebugger.gdbjtag.core.ifSemihost=false
org.coocox.codebugger.gdbjtag.core.jflashscript=
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=D\:/Program Files/Test/CoIDE_V1.3.2/CoIDE/flash/HT32F_31.elf
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
